// ? todas las fuentes son Helvetica LtStd - *

@font-face {
    font-family: "MdCn";
    src: url("../fonts/MdCn.otf") format("opentype");
}
@font-face {
    font-family: "BlkCn";
    src: url("../fonts/BlkCn.otf") format("opentype");
}
@font-face {
    font-family: "Blk";
    src: url("../fonts/Blk.otf") format("opentype");
}
@font-face {
    font-family: "BlkEx";
    src: url("../fonts/BlkEx.otf") format("opentype");
}
@font-face {
    font-family: "LtCn";
    src: url("../fonts/LtCn.otf") format("opentype");
}
@font-face {
    font-family: "Cn";
    src: url("../fonts/Cn.otf") format("opentype");
}
@font-face {
    font-family: "Lt";
    src: url("../fonts/Lt.otf") format("opentype");
}
@font-face {
    font-family: "UltLt";
    src: url("../fonts/UltLt.otf") format("opentype");
}
@font-face {
    font-family: "BdEx";
    src: url("../fonts/BdEx.otf") format("opentype");
}
@font-face {
    font-family: "BdExO";
    src: url("../fonts/BdExO.otf") format("opentype");
}
@font-face {
    font-family: "Md";
    src: url("../fonts/Md.otf") format("opentype");
}
@font-face {
    font-family: "LtEx";
    src: url("../fonts/LtEx.otf") format("opentype");
}
@font-face {
    font-family: "LtExO";
    src: url("../fonts/LtExO.otf") format("opentype");
}
@font-face {
    font-family: "LtCnO";
    src: url("../fonts/LtCnO.otf") format("opentype");
}
